/tekst.c
/touch.c
/grafika
/tekst
/cyfry_duze.c
/cyfry_duze.h
/fonts.c
/fonts.h
/ssd1963.c
/ssd1963.h
/tapeta.c
/MDK-ARM/Demo
/MDK-ARM/Sterownik
/MDK-ARM/sterownik.uvgui.Administrator
/MDK-ARM/sterownik.uvgui_Administrator.bak
